## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [52]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [55]:
# Your code here
sample_list_1 =(random.sample(range(100),80))

print(sample_list_1)

[55, 13, 24, 20, 86, 63, 74, 19, 87, 52, 83, 6, 3, 68, 26, 37, 22, 59, 72, 33, 78, 92, 17, 45, 73, 42, 79, 98, 18, 93, 69, 58, 97, 34, 15, 10, 94, 53, 12, 8, 54, 61, 16, 85, 57, 67, 9, 35, 21, 50, 65, 5, 47, 77, 66, 23, 4, 7, 62, 91, 95, 31, 1, 32, 84, 28, 64, 89, 51, 27, 2, 70, 99, 90, 76, 88, 56, 75, 80, 29]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [57]:
# Your code here
set1 = set(sample_list_1)
print (len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [59]:
# Your code here
sample_list_2 = []
for i in range(100):
    sample_list_2.append(random.randint(0,80))
print(sample_list_2)

[18, 44, 39, 33, 67, 29, 13, 68, 68, 23, 14, 10, 63, 5, 8, 58, 58, 41, 78, 10, 31, 75, 29, 23, 46, 70, 7, 38, 70, 32, 22, 55, 2, 71, 11, 44, 8, 15, 40, 48, 28, 68, 80, 17, 23, 25, 51, 70, 68, 1, 39, 8, 12, 47, 16, 80, 39, 50, 68, 48, 46, 43, 32, 2, 23, 40, 74, 5, 32, 20, 72, 61, 8, 60, 70, 63, 64, 43, 25, 25, 60, 61, 75, 18, 50, 78, 66, 58, 40, 21, 63, 7, 7, 50, 0, 32, 27, 12, 35, 26]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [60]:
# Your code here
set2 = set(sample_list_2)
print (len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [61]:
# Your code here
set3= set1.difference(set2)
print(len(set3))

39

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
# Your code here
set4 = set2.difference(set1)
print(len(set4))

14

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [63]:
# Your code here
set5 = set1 & set2
print(set5)

{1, 2, 5, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 26, 27, 28, 29, 31, 32, 33, 35, 47, 50, 51, 55, 58, 61, 63, 64, 66, 67, 68, 70, 72, 74, 75, 78, 80}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [65]:
# Your code here
x(1)+x(2)+x(3)+x(4)+x(5)

NameError: name 'x' is not defined

#### Create an empty set called `set6`.

In [67]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [72]:
# Your code here
set5 = set1 & set2
set3 = set.difference(set2)
set6.update(set3&set5)

#### Check if `set1` and `set6` are equal.

In [73]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [74]:
# Your code here
set1.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [81]:
# Your code here
print('set3 | set4 =', set3.union(set4))
print('set4 | set5 =', set4.union(set5))
print('set3 | set4 | set5 =', set3.union(set4, set5))
print('set3.union() =', set3.union())
set3 == set4
set3 == set5
set4 == set5

set3 | set4 = {0, 1, 2, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 35, 38, 39, 40, 41, 43, 44, 46, 47, 48, 50, 51, 55, 58, 60, 61, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 78, 80}
set4 | set5 = {0, 1, 2, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 35, 38, 39, 40, 41, 43, 44, 46, 47, 48, 50, 51, 55, 58, 60, 61, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 78, 80}
set3 | set4 | set5 = {0, 1, 2, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 35, 38, 39, 40, 41, 43, 44, 46, 47, 48, 50, 51, 55, 58, 60, 61, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 78, 80}
set3.union() = {0, 1, 2, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 35, 38, 39, 40, 41, 43, 44, 46, 47, 48, 50, 51, 55, 58, 60, 61, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 78, 80}

False

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
# Your code here
set1.pop(0)

TypeError: pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here